<div class="navigationMenu">
	<div class="leftMenu">
		<ul class="leftMenuNav">
			{{#link-to 'index'}}
			<li>Home</li>
			{{/link-to}}
			{{#link-to 'about'}}
			<li>About</li>
			{{/link-to}}
			<li><a href="#">left link 3</a></li>
		</ul>
	</div>
	<div class="rightMenu">
		<div class="dropDownButton">
			<p>
				menu 
				<i class="fa fa-caret-down" aria-hidden="true"></i>
				<i class="fa fa-caret-up invisible" aria-hidden="true"></i>
			</p>
		</div>
		<ul class="rightDropDownMenu invisible">
			<li><a href="#">right link 1</a></li>
			<li><a href="#">right link 2</a></li>
			<li><a href="#">right link 3</a></li>

		</ul>
	</div>
</div>